.faqContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px;
    background-color: #eef1f3;
}

.mainHeading {
    font-size: 2rem;
    margin-bottom: 5px;
    margin-top: 30px;
    color: hsl(0, 6%, 10%);
}

.faqContent {
    display: flex;
    justify-content: space-between;
    width: 100%;
    max-width: 1200px;
    margin-top: 20px;
    padding: 0px;
    /* background: hsl(0, 85%, 55%); 
    box-shadow: 0 0 10px rgba(216, 32, 32, 0.1);*/
    border-radius: 8px;
}

.faqLeft {
    flex: 2;
    margin: 10px;
}

.faqQuestions {
    list-style-type: none;
    padding: 0;
}

.faqItem {
    margin-bottom: 10px;
    border: 1px solid #ddd;
    border-radius: 8px;
    padding: 20px;
    background-color: #fff;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    cursor: pointer;
}

.faqQuestion {
    font-weight: bold;
    color: hsl(180, 2%, 9%);
}

.faqAnswer {
    padding: 10px 0;
    color: #555;
}

.faqRight {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: start;
    /* background-color: #dbd0d0; */
    padding: 40px;
    border-radius: 8px;
    text-align: center;
    /* box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); */
}

.heading {
    margin-top: 30px;
    font-size: 1.5rem;
    margin-bottom: 20px;
    color: #333;
}

.heading span {
    color: #d429ba;
}

.actionButtons {
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 290px;
}

.spanButton {
    color: hsl(213, 91%, 22%);
}

.meetingButton, .callButton {
    padding: 10px;
    background-color: hsl(213, 27%, 94%);
    color: hsl(0, 0%, 5%);
    border: none;
    border-radius: 20px;
    cursor: pointer;
    border: 2px solid rgb(19, 19, 238);
    width: 100%;
}

/* .meetingButton:hover, .callButton:hover {
    background-color: #005bb5;
    color: #fff;
} */

@media (max-width: 768px) {
    .faqContent {
        flex-direction: column;
    }

    .faqLeft {
        margin-right: 0;
    }

    .faqRight {
        margin-top: 20px;
    }
}

.faqItem {
    cursor: pointer;
    padding: 10px;
    border-bottom: 1px solid #ddd;
    position: relative; /* Ensure that the icon is positioned relative to the question box */
  }
  
  .faqQuestion {
    display: flex;
    justify-content: space-between; /* Pushes the icon to the right side */
    align-items: center;
    font-size: 18px;
    font-weight: 500;
  }
  
  .arrowIcon {
    font-size: 18px;
    margin-left: 10px;
  }
  
  .faqAnswer {
    padding: 10px;
    font-size: 16px;
    color: #555;
  }
  