

.heroSection {
  position: relative;
  height: 100vh;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
}

.backgroundVideo {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: -1; /* Ensure the video is behind the text */
}

.content {
  text-align: center;
  z-index: 2; /* Ensure the content is above the video */
}

.title {
  font-size: 5rem;
  line-height: 1.2;
  margin-bottom: 20px;
}

.highlight {
  color: #eef2f4; /* Adjust the color as needed */
}

.gradient{
  color: #7b61ff;
  background: linear-gradient(to right, var(--button-color), var(--background-color));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.description {
  font-size: 2rem;
  margin-bottom: 30px;
}

.ctaButton {
  padding: 12px 25px;
  background-color: var(--button-color); /* Adjust the color as needed */
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 1rem;
  font-weight: 800;
  transition: background-color 0.3s;
}

.ctaButton:hover {
  background-color: var(--background-color); /* Adjust the hover color as needed */
}

.arrowIcon {
  margin-left: 1rem;
}

/* Media Queries for Responsive Design */
@media (max-width: 768px) {

  .heroSection{
    height: 65vh;
  }
  .title {
    font-size: 2.5rem;
  }

  .description {
    font-size: 1rem;
  }

  .ctaButton {
    font-size: 0.9rem;
    padding: 10px 20px;
  }
}

@media (max-width: 480px) {
  .title {
    font-size: 2rem;
  }

  .description {
    font-size: 0.9rem;
  }
}