.navContainer {
  width: 100%;
  background-color: transparent;
  color: black;
  position: sticky;
  top: 0;
  left: 0;
  z-index: 100;
  padding: 0.75rem 0;
  transition: background-color 0.3s ease, color 0.3s ease;
}

.navScrolled {
  background-color: white;
  color: #000;
}

.navScrolled .navLinks a,
.navScrolled .brandName,
.navScrolled .toggleButton {
  color: black;
}

.navRow {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0;
}

.logo {
  display: flex;
  align-items: center;
  justify-content: center;
}

.brandName {
  margin-left: 15px;
  font-weight: bold;
  font-size: 1.3rem;
  color: black;
}

.navLinks {
  /* margin-left: 150px; */
  display: flex;
  flex-grow: 1;
  gap: 12px;
  justify-content: center;
  align-items: center;
}

.navLinks a {
  margin-left: 20px;
  text-decoration: none;
  color: black;
  font-size: 1rem;
  font-weight: 600;
  transition: color 0.1s;
}

.navLinks a:hover {
  color: var(--button-color);
}

.navLinks span.active,
.sidebarMenu span.active {
  color: var(--button-color);
  font-weight: bold;
}

.navButtons {
  display: flex;
  align-items: center;
}

.hamburger {
  display: none;
  cursor: pointer;
  font-size: 24px;
}

.sidebarMenu {
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: #ffffff;
  box-shadow: 2px 0 5px rgba(0, 0, 0, 0.1);
  transform: translateX(-100%);
  transition: transform 0.3s ease;
  z-index: 200;
  padding-top: 40px;
}

.sidebarMenu.showMenu {
  transform: translateX(0);
}

.sidebarMenu a {
  display: block;
  padding: 10px 20px;
  color: #000;
  text-decoration: none;
  font-size: 1.2rem;
  font-weight: 500;
  transition: color 0.3s;
}

.sidebarMenu a:hover {
  color: #6ee4ff;
}

@media (min-width: 1024px) {
  .navRow {
    margin-left: 15px;
    padding: 0 150px;
  }
}

@media (max-width: 1024px) {
  .navContainer {
    padding: 0 15px;
  }

  .navLinks a {
    margin-left: 15px;
    font-size: 0.9rem;
  }

  .navButtons .animatedButton {
    padding: 8px 16px;
  }
}

@media (max-width: 768px) {
  .navRow {
    margin-left: 0;
    padding: 10px 20px;
  }

  .navLinks {
    display: none;
  }

  .navButtons {
    display: none;
  }

  .hamburger {
    display: block;
  }

  .sidebarMenu {
    width: 50%;
  }
}

@media (max-width: 480px) {
  .navContainer {
    padding: 0 10px;
  }

  .brandName {
    font-size: 1rem;
  }

  .sidebarMenu a {
    font-size: 1rem;
    padding: 8px 15px;
  }
}

.animatedButton {
  text-decoration: none;
  align-items: center;
  justify-content: center;
  padding: 0.6rem 1.2rem;
  border: none;
  border-radius: 10px;
  font-size: 1rem;
  color: white;
  cursor: pointer;
  margin: 0 30px;
  background: var(--primary-color);
  background-size: 200% 200%;
  animation: gradientAnimation 4s ease infinite;
  transition: transform 0.3s ease;
}

.animatedButton:hover {
  transform: scale(1.05);
  background: var(--background-color);
}

.icon {
  margin-right: 0.5rem;
  font-size: 1.5rem;
}

@keyframes gradientAnimation {
  /* 0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  } */
}

@media (max-width: 1200px) {
  .animatedButton {
    padding: 0.5rem 1rem;
    font-size: 0.9rem;
    width: auto;
  }
}

@media (max-width: 768px) {
  .animatedButton {
    padding: 0.4rem 0.8rem;
    font-size: 0.8rem;
    width: auto;
  }
}

@media (max-width: 480px) {
  .animatedButton {
    padding: 0.4rem 0.6rem;
    font-size: 0.7rem;
    position: static;
    transform: translateX(0);
    width: auto;
  }
}
