.cardContainer {
  text-align: center;
  margin: 0 auto;
  padding: 20px;
}

.carouselTitle {
  margin-top: 10px;
  font-size: 52px;
  margin-bottom: 20px;
}

.cardGrid {
  display: flex;
  justify-content: center;
  width: 100%;
  /* Space between cards */
  flex-wrap: wrap; /* Allows cards to wrap on smaller screens */
  margin-top: 30px;
  margin-bottom: 30px;
}

.card {
  /* background-color: #f9f9f9; */
  padding: 20px;
  border-radius: 8px;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%; /* Default to full width */
  max-width: 250px; /* Limit the card width */
}

.stars,
.starsg,
.starsG {
  margin-top: 0px;
  font-size: 20px;
  color: #ffc107;
}

/* Responsive Design */
@media (min-width: 768px) {
  .cardGrid {
    gap: 50px; /* Adjust spacing between cards for tablet and larger screens */
  }

  .card {
    max-width: 200px; /* Adjust max width for larger screens */
  }
}

@media (min-width: 1024px) {
  .cardGrid {
    gap: 150px; /* Adjust spacing between cards for desktop screens */
  }

  .card {
    max-width: 250px; /* Adjust max width for larger screens */
  }
}
