.star {
  width: 12px;
  height: 12px;
  background-color: grey;
  clip-path: polygon(50% 0%, 61% 35%, 98% 35%, 68% 57%, 79% 91%, 50% 70%, 21% 91%, 32% 57%, 2% 35%, 39% 35%);
  margin-right: 5px;
}

.filled {
  background-color: gold;
}
