.container {
  display: flex;
  background-color: #e8f4fc;
  padding: 20px;
  border-radius: 10px;
  justify-content: space-between;
  margin: 150px;
}

.leftSection {
  flex: 1;
  padding: 20px;
}

.rightSection {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;
}

.heading {
  font-size: 2rem;
  color: #2c2c2c;
}

.paragraph {
  color: #5a5a5a;
  margin: 10px 0 20px;
}

.contactButton {
  background-color: #0056ff;
  color: #fff;
  padding: 10px 20px;
  border: none;
  border-radius: 15px;
  cursor: pointer;
}
.stats{
 
  
}
.stats, .reviews, .googleTag {
  margin-top: 15px;
  display: flex;
  align-items: center;
}
.stats{
  display: flex;
  align-items: center;
  justify-content: start;
  justify-content: space-between;
}
.images {
  border-radius: 50%;
  margin-left: 10px;
}

.logo {
  background-color: #0056ff;
  display: flex;
  align-items: center;
  justify-content: center;
}

.logos {
  display: flex;
  margin-top: 10px;
  align-items: start;
  margin-right: 30px;
  mix-blend-mode: multiply;
}

.profiles {
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin-top: 20px;
}

.buttonGoogle {
  
  color: hsl(0, 0%, 7%);
  padding: 0px;
  width: 300px;
  border-radius: 10%;
  margin-top: 10px;
  cursor: pointer;
  display: flex;
  align-items: center;
}

.profile {
  background-color: #fff;
  padding: 10px;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  width: 200px;
  text-align: center;
}

.backgroundImage {
  width: 300px;
  height: 300px;
  background-image: url("../../../public/Hero/download.png");
  background-size: cover;
  background-position: center;
  /* border-radius: 50%; */
  position: absolute;
  top: 60px;
  right: -20px;
}
