.featuresSection {
    padding: 50px;
    text-align: center;
    background-color: var(--background-color); /* Adjust to match your background */
    color: white;
    position: relative;
    overflow: hidden;
  }
  
  .title {
    font-size: 2.5rem;
    margin-bottom: 10px;
    font-weight: bold;
    color: var(--text-color);
  }
  
  .subtitle {
    font-size: 1.2rem;
    margin-bottom: 50px;
    color: var(--text-color); /* Slight contrast color */
  }

  .slider {
    overflow: hidden;
    position: relative;
    width: 100%;

    /* max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px; */

  }
  
  .featuresGrid {
    display: flex;
    justify-content: space-between;
    gap: 20px;
    flex-wrap: wrap;
  }
  
  .featureCard {
    background-color: white; /* Transparent background */
    padding: 20px;
    border-radius: 10px;
    text-align: left;
    flex: 1 ;
    height: 35vh;
    width: 95% !important;
    transition: transform 0.3s ease;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    overflow-y: auto;
  }

  .featureCard::-webkit-scrollbar{
    display: none;
  }
  
  .featureCard:hover {
    transform: translateY(-10px);
  }
  
  .icon {
    margin-bottom: 15px;
    color: #000000; /* Adjust if needed */
  }
  
  .featureTitle {
    font-size: 1.5rem;
    margin-bottom: 10px;
    font-weight: bold;
    color: #000000;
  }
  
  .featureDescription {
    font-size: 1.2rem;
    color: #000000;
  }
  
  @media screen and (max-width: 768px) {
    .featuresGrid {
      flex-direction: column;
    }
  }
  