.aboutContent {
  padding: 2rem;
  line-height: 1.8;
  text-align: center;
  margin: 0 10%;
  width: 75%;
}

.aboutContent p {
  margin-bottom: 1.5rem;
  font-size: large;
}

.aboutStats {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 1rem;
}

.stat {
  flex: 1;
  margin: 1rem;
  padding: 1rem;
  border-left: 4px solid #007bff;
  background: #f9f9f9;
  width: 45%;
  text-align: center;
}

.stat p {
  margin: 8px;
  text-align: center;
}

/* Tablet and smaller screens */
@media (max-width: 768px) {
  .aboutContent {
    margin: 0 5%;
    width: 90%;
  }

  .aboutContent p {
    font-size: 1rem;
  }
  .aboutContent {
    display: block;
  }
  .aboutStats {
    display: block;
  }
  .stat {
    width: 100%;
    flex-direction: column;
  }
}

/* Mobile screens */
@media (max-width: 480px) {
  .aboutContent {
    padding: 1rem;
    margin: 0;
    width: 100%;
    display: block;
  }

  .aboutContent p {
    font-size: 0.9rem;
  }

  .stat {
    margin: 0.5rem 0;
    padding: 0.8rem;

    flex-direction: column;
  }
}
