.success_stories {
    text-align: center;
    padding: 50px 20px;
    background-color: #f9fafb;
  }
  
  .success_stories h2 {
    font-size: 2.5rem;
    font-weight: bold;
    margin-bottom: 10px;
  }
  
  .success_stories h2 span {
    color: #6b21a8; /* Adjust this color to match the gradient style */
    background-image: linear-gradient(90deg, #9333ea, #6b21a8); /* Adjust the gradient as needed */
    -webkit-background-clip: text;
    color: transparent;
  }
  
  .success_stories p {
    font-size: 1.25rem;
    color: #6b7280;
    margin-bottom: 50px;
  }
  
  .stories_grid {
    display: flex;
    justify-content: center;
    gap: 30px;
  }
  
  .story_card {
    background-image: linear-gradient(90deg, #9333ea, #6b21a8);   
    border-radius: 12px;
    overflow: hidden;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease;
    text-align: center;
    height: 370px;
    width: 370px;
    display: flex;
    align-items: center;
    justify-content: center;
    max-width: 370px; /* Adjust the width as needed */
    transition: all 0.5s ease;
  }
  
  .story_card:hover {
    transform: scale(1.07);
  }
  
  .story_logo {
    height: 150px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .story_logo {
    background-color: #1e3a8a; /* Adjust the color */
  }
  
  .story_card h3 {
    font-size: 1rem;
    padding: 20px;
    color: #111827;
    font-weight: bold;
  }
  
  .contentContainer{
    display: flex;
    flex-direction: column;
    width: 370px;
    text-align: left;
  }