@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}



:root {
  --padding-small: 10px;
  --padding-medium: 20px;
  --padding-large: 30px;
  --font-size-small: 0.9rem;
  --font-size-medium: 1rem;
  --font-size-large: 1.2rem;
}