


:root {
  --padding-small: 10px;
  --padding-medium: 20px;
  --padding-large: 30px;
  --font-size-small: 0.9rem;
  --font-size-medium: 1rem;
  --font-size-large: 1.2rem;


  --primary-color: #6EE4FF;
  --background-color: #0b93b2;
  --text-color: white;
  --secondText-color: black;


  --gray-light: #F6F6F6;
  --blue-light: #156BA3;
  --padding-technology-page: 2rem 12rem;
  

}
/* styles/globals.css */
/* body {
  font-family: 'Roboto', sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
} */


* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

html, body {
  height: 100%;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}

