@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

:root {
  --padding-small: 10px;
  --padding-medium: 20px;
  --padding-large: 30px;
  --font-size-small: 0.9rem;
  --font-size-medium: 1rem;
  --font-size-large: 1.2rem;

  /* --primary-color: #6EE4FF; */
  --primary-color: #4ba9c8;
  --button-color: #4ba9c8 ;
  --background-color:#05edfa;
  --text-color: white;
  --secondText-color: black;

  --gray-light: #f6f6f6;
  --blue-light: #156ba3;
  --padding-technology-page: 2rem 12rem;
}
/* styles/globals.css */
body {
  font-family: "Poppins", sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
 h1,h2,h3, h4, h5, h6 {
  font-family: 'Roboto';
}
* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}
