  
.topdevSection {
  text-align: center;
  padding: 50px 20px;
  background-color: #f7f9fc;
}

.topdevSection h2 {
  font-size: 45px;
  font-weight: 900;
  color: #2c3e50;
}

.topdevTitleHighlight {
  color: #7b61ff;
  background: linear-gradient(to right, #7b61ff, #ff61a6);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.topdevTitle {
  color: #000;
}

.topdevSubtitle {
  margin: 24px;
  font-size: 16px;
  color: #5f5f6c;
  max-width: 600px;
  margin-left: auto;
  margin-right: auto;
}

.topdevSectionBox {
  padding: 0px 20px;
}

.topdevCompanyLogos {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 30px;
}

.row7, .row6, .row5 {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
}

.row7 .topdevCompanyLogo {
  margin: 0 10px;
}

.row6 .topdevCompanyLogo {
  margin: 0 10px;
}

.row5 .topdevCompanyLogo {
  margin: 0 10px;
}

.topdevCompanyLogo {
  padding: 20px;
  height: 56px;
  border-radius: 10px;
  box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.1);
  display: flex;
  align-items: center;
  justify-content: center;
  border: 0.5px solid #e0e0e0;
  background-color: #fff;
  width: 180px;
}

.topdevCompanyLogo img {
  max-width: 100%;
  max-height: 56px;
  object-fit: contain; 
}

@media (max-width: 1200px) {
  .topdevCompanyLogo {
    width: 180px; 
    height: 56px;
  }
}

@media (max-width: 768px) {
  .topdevSection h2 {
    font-size: 32px;
  }

  .topdevSubtitle {
    font-size: 14px;
  }

  .row7 .topdevCompanyLogo,
  .row6 .topdevCompanyLogo,
  .row5 .topdevCompanyLogo {
    margin: 0 5px;
  }

  .topdevCompanyLogo {
    width: 180px;
    height: 56px;
    padding: 15px;
  }
}

@media (max-width: 480px) {
  .topdevSection h2 {
    font-size: 24px;
  }

  .topdevSubtitle {
    font-size: 12px;
  }

  .row7 .topdevCompanyLogo,
  .row6 .topdevCompanyLogo,
  .row5 .topdevCompanyLogo {
    margin: 0 2px;
  }

  .topdevCompanyLogo {
    width: 180px;
    height: 56px;
    padding: 10px;
  }
}