.qaContainer {
  background-color: white; 
  border-radius: 8px; 
  padding: 20px; 
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); 
  max-width: 600px; 
  margin: 20px auto; 
  font-family: 'Arial', sans-serif; 
  line-height: 1.6; 
  margin-top: 40px; 
  text-align: center;
  margin-left: 65px;
}

.paragraph {
  font-size: 20px; 
  color: #333; 
  padding: 10px;
}

.strong {
  color: #0A74DA; 
}

@media (max-width: 900px){
  .qaContainer {
    background-color: white; 
    border-radius: 8px; 
    padding: 20px; 
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); 
    max-width: 745px; 
    margin: 20px auto; 
    font-family: 'Arial', sans-serif; 
    line-height: 1.6; 
    margin-top: 40px; 
    text-align: center;
    /* margin-left: 35px; */
  }
  
  .paragraph {
    font-size: 20px; 
    color: #333; 
    padding: 10px;
  }
  
  .strong {
    color: #0A74DA; 
  }
  
  
}

@media (min-width: 600px){
  .qaContainer {
    background-color: white; 
    border-radius: 8px; 
    padding: 20px; 
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); 
    max-width: 600px; 
    margin: 20px auto; 
    font-family: 'Arial', sans-serif; 
    line-height: 1.6; 
    margin-top: 40px; 
    text-align: center;
    /* margin-left: 65px; */
  }
  
  .paragraph {
    font-size: 20px; 
    color: #333; 
    padding: 10px;
  }
  
  .strong {
    color: #0A74DA; 
  }
}

@media (min-width: 1024px) {
  .qaContainer {
      max-width: 800px; /* Wider box for larger screens */
      padding: 40px;
      margin-top: 80px;
      margin-left: 130px;
  }

  .paragraph {
      font-size: 20px; /* Larger font for better readability */
  }
}