.qaContainer {
  background-color: white; 
  border-radius: 8px; 
  padding: 20px; 
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); 
  max-width: 600px; 
  margin: 20px auto; 
  font-family: 'Arial', sans-serif; 
  line-height: 1.6; 
  margin-top: 40px; 
  text-align: center;
  margin-left: 77px;
}

.paragraph {
  font-size: 20px; 
  color: #333; 
  padding: 10px;
}

.strong {
  color: #0A74DA; 
}

/* Mobile-first styles */

/* Medium screens (e.g., tablets) */
@media (min-width: 768px) {
  .qaContainer {
      padding: 30px;
      margin-top: 60px;
  }

  .paragraph {
      font-size: 21px;
  }
}

/* Large screens (e.g., desktops) */
@media (min-width: 1024px) {
  .qaContainer {
      max-width: 800px;
      padding: 40px;
      margin-left: 79px;
  }

  .paragraph {
      font-size: 20px;
  }
}
@media (max-width: 900px){
  .qaContainer {
    background-color: white; 
    border-radius: 8px; 
    padding: 20px; 
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); 
    max-width: 600px; 
    margin: 20px auto; 
    font-family: 'Arial', sans-serif; 
    line-height: 1.6; 
    margin-top: 40px; 
    text-align: center;
  }
  
  .paragraph {
    font-size: 20px; 
    color: #333; 
    padding: 10px;
  }
  
  .strong {
    color: #0A74DA; 
  }
}
