.qaContainer {
    background-color: white; /* White background similar to the card */
    border-radius: 8px; /* Rounded corners */
    padding: 20px; /* Padding inside the box */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Soft shadow for depth */
    max-width: 600px; /* Limits the width of the box */
    margin: 20px auto; /* Centers the box horizontally */
    font-family: 'Arial', sans-serif; /* Font style */
    line-height: 1.6; /* Line spacing */
    margin-top: 75px;
    margin-left: 33px;
    text-align: center;
  }
  
  .paragraph{
    font-size: 20px; /* Text size */
    color: #333; /* Text color */
    padding: 10px;
  }
  
  .strong{
    color: #0A74DA; /* A slight blue for the highlighted text */
  }

@media (min-width: 600px){
  .qaContainer {
    background-color: white; 
    border-radius: 8px; 
    padding: 20px; 
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); 
    max-width: 600px; 
    margin: 20px auto; 
    font-family: 'Arial', sans-serif; 
    line-height: 1.6; 
    margin-top: 40px; 
    text-align: center;
    width: 100%;
    /* margin-right: 200px ; */
  }
  
  .paragraph {
    font-size: 20px; 
    color: #333; 
    padding: 10px;
  }
  
  .strong {
    color: #0A74DA; 
  }
}
@media(min-width: 1200px){
  .qaContainer {
    background-color: white; 
    border-radius: 8px; 
    padding: 20px; 
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); 
    max-width: 600px; 
    margin: 20px auto; 
    font-family: 'Arial', sans-serif; 
    line-height: 1.6; 
    margin-top: 40px; 
    text-align: center;
    width: 100%;
    margin-right: 200px ;
    margin-left: 60px;
  }
  
  .paragraph {
    font-size: 20px; 
    color: #333; 
    padding: 10px;
  }
  
  .strong {
    color: #0A74DA; 
  }
}
  