/* privacy.module.css */
.container {
  padding: 20px 100px;
  font-family: 'Arial', sans-serif;


}

.mainheading {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 2.4rem;
  font-weight: bold;
  margin-bottom: 20px;
}

.heading {
  font-size: 1.6rem;
  margin-top: 25px;
}

.list {
  margin: 15px 0;
  padding-left: 20px;
  list-style-type: disc;
}

.lists {
  margin-bottom: 10px;
  line-height: 1.5;
}

.address {
  font-style: normal;
  margin-top: 20px;
}

.text {
  margin: 10px 0;
  line-height: 1.6;
}
.texts{
  margin: 15px 0;
  line-height: 1.6;
  margin-bottom: 10px;
}

.spantexts{
  color: black;
  font-weight: bold;
  font-family: 'Arial', sans-serif;

}
/* Media query for mobile devices */
@media (max-width: 768px) {
  .container {
    padding: 20px 20px;
  }

  .mainheading {
    font-size: 2rem;
    margin-bottom: 15px;
  }

  .heading {
    font-size: 1.5rem;
    margin-top: 15px;
  }

  .list {
    margin: 10px 0;
    padding-left: 15px;
  }

  .lists {
    line-height: 1.4;
  }

  .text {
    margin: 10px 0;
    line-height: 1.5;
  }
}
